@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: #121212;
    --text-secondary: #777777;
    --background: #ECECEC;
    --brand: #E0B519;
  }

  .dark {
    --text-primary: #C3C3C3;
    --text-secondary: #797979;
    --background: #0E0E0E;
  }
}
